body {
    background-color: aqua;
}

.likes {
     align-items: center;
     display: flex;
     justify-content: center;
     border: 1px dashed blue;
     border-radius: 10px;
     padding-top: 10px;
     padding-left: 10px;
     padding-bottom: 20px;
     padding-right: 20px;
     margin: auto;
     color: black;
}
 
#lists {
     color: royalblue;
     border: 1px dashed greenyellow;
}

 .list-likes {
    color: darkblue;
 }

 #list-dislikes {
    color: darkblue;
 }

 #dislikes {
    align-items: center;
     display: flex;
     justify-content: center;
     border: 1px dashed blue;
     border-radius: 10px;
     padding-top: 10px;
     padding-left: 10px;
     padding-bottom: 20px;
     padding-right: 20px;
     margin: auto;
     color: black;
}
 